html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

body {
    background-color: grey;
    width: 99%;
    height: 100%;
    position: absolute;
}

.first {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 1px black;
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.scond {
    margin: 0;
    padding: 0;
    background-color: steelblue;
    width: 100%;
    height: 40px;
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    -webkit-box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

h2 {
    font-weight: 100;
    font-family: cursive;
    position: absolute;
    margin: 0;
}

h3 {
    font-family: monospace;
    font-size: 18px;
    margin: 0;
    width: auto;
    padding: 20px 3px;
}

h4 {
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px
}

.containerO {
    margin: 15px 0;
    width: 40%;
    height: 10%;
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
}
.containers {
    margin: 15px 0 0 100px;
    width: 40%;
    height: 10%;
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
}

#enterReg {
    margin: 2px 20px;
}

#addButton {
    width: 100px;
    background-color: steelblue;
    border: 1px solid steelblue;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;

}

#addButton:hover {
    background-color: ;
    border: 1px solid darkgreen;
    color: #fff;
    -webkit-box-shadow: 0.2px 0.2px 0.2px black;
    -moz-box-shadow: 0.2px 0.2px 0.2px black;
    box-shadow: 0.2px 0.2px 0.2px black;
}

.increasePlatesNums {
    margin: 120px -307px;
    width: 40%;
    height: 90%;
    position: absolute;
}

.searchResults {
    margin: 120px 310px;
    position: absolute;

}

#registrationNumber {
    font-weight: bold;
    margin: 10px 0px;
    border: 1.8px solid black;
    border-radius: 0.3em;
    width: 200px;
    height: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #C0C0C0;
    display: inline-block;
}

li {
    text-indent: 10px;
    padding-top: 10px;
}

#invalidSearch {
    width: 300px;
    height: 20px;
    color: red;
    font-weight: bold;
    font-family: fantasy;*/
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    justify-content: center;
    transition: 500ms ease-in-out;
    animation: rotateOut 500ms ease-in-out 1;
}

.townList {
    margin: 10px 0;
    font-weight: bold;
    font-family: sans-serif;
    display: block;
    animation: list
}

.Content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
}

.footer {
 background: grey;
 bottom: -700px;
 text-align: center;
 position: relative;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    position: relative;
}
